/* geral */
a
*{
    padding: 0;
    margin: 0;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 10px;
    background-color: blue;
    align-items: center;
}

.header img{
    width: 26%;
    margin-left: 10px;
}

.header .navegacao a{
    gap: 20%;
}

.header a{
    text-decoration: none;
    color: white;  
    font-size: 20px; 
    gap: 100px;
}

.header button{
    background-color: red;
    border: none;
    padding: 10px;
    margin-right: 10px;
}
/* body */
/* responcivo */