/* geral */

*{
    padding: 0;
    margin: 0;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    box-shadow: 0 0 10px;
    background-color: rgb(43, 43, 139);
}

.header .img-logo{
    width: 5%;
    
}

.header a{
    text-decoration: none;
    gap: 10%;
    color: white;  
    font-size: 20px; 
}

.header button{
    background-color: red;
    border: none;
    padding: 30px;

}
/* body */
/* responcivo */